* {
    font-size: 1em;
}

body {
    font-family: helvetica;
    height: 100%;
}

/*#region NAV*/

.nav {
    position: fixed;
    font-size: 1.2rem;
}

.staceylee {
    font-weight: bold;
    width: fit-content;
    color: black;
    text-decoration: none;
}

.staceylee:hover {
    background-color: greenyellow;
}

.nav-content {
    margin-top: 0.2rem;
    line-height: 1.6rem;
}

.nav-subhead {
    font-weight: bold;
}

#contact-links {
    color: black;
}

#contact-links:hover {
    color: white;
    background-color: black;
}

#icnr {
    color: black;
    background-color: #ff7f7f;
}

#str8jacket {
    color: darkblue;
}

#str8jacket:hover {
    color: black;
    background-color: #bec3e0;
}

#sibbys {
    color: #c11c84;
}

#sibbys:hover {
    color: black;
    background-color: pink;
}

#dinner {
    color: brown;
}

#dinner:hover {
    color: black;
    background-color: tan;
}

#ghost {
    color: darkolivegreen;
}

#ghost:hover {
    color: black;
    background-color: #b1c4ae;
}

#newyork {
    color: #486362;
}

#newyork:hover {
    color: black;
    background-color: lightsteelblue;
}

#found {
    color: #9263bc;
}

#found:hover {
    color: black;
    background-color: #e0c6ff;
}

#body {
    color: #575757;
}

#body:hover {
    color: black;
    background-color: lightgray;
}

#five {
    color: goldenrod;
}

#five:hover {
    color: black;
    background-color: gold;
}
/*#endregion*/

/*#region FORMAT*/
.body-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 9rem;
    position: absolute;
    z-index: -1;
}

img {
    width: 48rem;
}

.caption {
    display: flex;
    flex-direction: row;
    width: 48rem;
    align-items: baseline;
    justify-content: space-between;
}

.caption-child {
    width: 40%;
    font-size: 0.9rem;
}

#caption-right {
    width: 33%;
    text-align: right;
    font-style: italic;
    font-size: 0.7rem;
    
}

/*#endregion*/

#draw {
    position: absolute;
    height: 100%;
    overflow: scroll;
}

#poetry-animation {
    width: 100%;
    text-align: center;
}

@media (max-width: 800px) {
    * {
        font-size: 0.95em;
    }

    .nav-content {
        line-height: 1.4rem;
    }

    .body-content {
        padding-top: 10rem;
    }

    img, .caption {
        width: 33rem;
    }
}

@media (max-width: 550px) {
    * {
        font-size: 0.9em;
    }

    .nav-content {
        line-height: 1.2rem;
    }

    .body-content {
        padding-top: 11rem;
    }

    img, .caption {
        width: 26rem;
    }
}

@media (max-width: 300px) {
    * {
        font-size: 0.85em;
    }

    .nav-content {
        line-height: 1rem;
    }

    .body-content {
        padding-top: 12rem;
    }

    img, .caption {
        width: 23rem;
    }
}